flows(6).json
[
    {
        "id": "0d203437a55b11f7",
        "type": "inject",
        "z": "e2fffb6110faecdb",
        "name": "Envío Texto",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Texto de prueba",
        "payloadType": "str",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "0917f270ded19d5d"
            ]
        ]
    },
    {
        "id": "40befe4219bd900a",
        "type": "inject",
        "z": "e2fffb6110faecdb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "fc0e6a9709f99570",
                "18b0cebac3841813"
            ]
        ]
    },
    {
        "id": "632c820b8bb93917",
        "type": "inject",
        "z": "e2fffb6110faecdb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "5",
        "payloadType": "num",
        "x": 130,
        "y": 260,
        "wires": [
            [
                "fc0e6a9709f99570",
                "18b0cebac3841813"
            ]
        ]
    },
    {
        "id": "52f62adf16b05651",
        "type": "inject",
        "z": "e2fffb6110faecdb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 130,
        "y": 340,
        "wires": [
            [
                "fc0e6a9709f99570",
                "18b0cebac3841813"
            ]
        ]
    },
    {
        "id": "0917f270ded19d5d",
        "type": "ui_text",
        "z": "e2fffb6110faecdb",
        "group": "e1c26fe0bf7f67d9",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "fc0e6a9709f99570",
        "type": "ui_gauge",
        "z": "e2fffb6110faecdb",
        "name": "",
        "group": "27e70af9e4767d8c",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "18b0cebac3841813",
        "type": "ui_chart",
        "z": "e2fffb6110faecdb",
        "name": "",
        "group": "d5e77d27655bebb3",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "10",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 470,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "e1c26fe0bf7f67d9",
        "type": "ui_group",
        "name": "Group 1 Salida Texto",
        "tab": "a3a29b11909b1917",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "27e70af9e4767d8c",
        "type": "ui_group",
        "name": "Group 2 Salida Aguja",
        "tab": "a3a29b11909b1917",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d5e77d27655bebb3",
        "type": "ui_group",
        "name": "Group 3 Salida Y en el tiempo",
        "tab": "a3a29b11909b1917",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a3a29b11909b1917",
        "type": "ui_tab",
        "name": "Pestaña Gráficos",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]